html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home {
    width: 100%;
    min-height: 100vh;
    /* 关键修改 */
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ball {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/Group 1627.png") no-repeat center center;
    background-size: contain;
}

/** shouji */

@media (max-width: 768px) {
    .ball {
        top: 85%;
        left: 82%;
        bottom: 0%;
        width: 50px;
        height: 50px;
    }
    /* 顶部 */
    .home {
        width: 100%;
    }
    .home .home-top {
        width: 100%;
        /* height: 216px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: url("https://34.92.164.176/dsjt/img/h5t.png") no-repeat center center;
    background-size: 100% 100%; */
    }
    .home .home-top .left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
            width: 236.43px;
            height: 223px;
        }
        .center {
            width: 216.88px;
            height: 210px;
        }
        .footer {
            width: 195px;
            height: 205px;
        }
    }
    .home .home-top .center {
        width: 841px;
        height: 473.74px;
    }
    .home .home-top .right {
        display: flex;
        position: relative;
        .big {
            width: 557.39px;
            height: 608px;
        }
        .ball {
            position: relative;
            right: 80px;
            margin-top: 120px;
            width: 198px;
            height: 198px;
        }
    }
    .home .home-content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }
    /* .home .home-content .title {
    width: 243px;
    height: 63px;
    font-size: 32px;
    color: #644305;
    background: linear-gradient(90deg, #fae2aa 0%, #f5bb63 100%);
    border-radius: 51px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
  } */
    .home .home-content .box {
        margin-top: -27px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .home-content .box .left,
    .box-right {
        height: 140px;
        width: 100%;
    }
    .home .home-content .box .left {
        width: 100%;
        height: auto;
        margin: 8px 0;
        /* background: url("https://34.92.164.176/dsjt/img/h5123.png") no-repeat center center;
    background-size: 100% 80%; */
        /* padding: 10px 10px;
    background: #272727;
    text-align: left;
    color: #fff;
    font-size: 24px;
    border: 0.59px solid #FFF0CE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px; */
    }
    .home .home-content .box .box-right {
        cursor: pointer;
        width: 100%;
        height: auto;
        /* font-size: 31px;
    background: linear-gradient(0deg, #e9ab4f 0%, #f9ebbb 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    }
    .home .home-content .box .box-right img {
        width: 100%;
    }
    .home .home-content .box .box-right .top {
        color: #553d18;
    }
    .home .home-content .box .box-right .cont {
        color: #ff0000;
    }
    .home .home-content .box .box-right .cont .text {
        color: #553d18;
    }
    .home .home-content .box .box-right .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home .home-content .box .box-right .footer .btn {
        cursor: pointer;
        width: 121px;
        height: 44px;
        background: linear-gradient(180deg, #fb3d3d 0%, #8c1818 100%);
        border-radius: 25px;
        color: #fff;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .home-content .box .box-right .footer .btn:last-child {
        margin-left: 20px;
    }
    /* 列表 */
    .list {
        width: 100%;
        /* margin-top: 15px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .list .list-box {
        width: 100%;
        /* height: 276px; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border-radius: 29px;
    border: 2px solid #8c6827; */
        margin-bottom: 5px;
        transform: scale(0.95);
        position: relative;
    }
    .list .list-box .btns {
        position: absolute;
        bottom: 8%;
        left: -4%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 1000;
    }
    .list .list-box .btns img {
        height: 27px;
    }
    .list .list-box .btns img:first-child {
        margin-right: 3%;
    }
    .list .list-box .imgs {
        width: 100%;
        height: 100%;
    }
    .list .list-box .desc {
        width: 50%;
        height: 262px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        flex-shrink: 1;
    }
    .list .list-box .desc .imgP {
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }
    .list .list-box .desc .room-text {
        cursor: pointer;
        height: 48px;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    .list .list-box .desc .room-text .box {
        /* width: 140px; */
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        background: #8d5603;
    }
    .list .list-box .desc .three {
        cursor: pointer;
        font-size: 13px;
        display: flex;
        align-items: center;
        /* width: 90%; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .list .list-box .desc .three .img {
        width: 15px;
        height: 21px;
    }
    .list .list-box .desc .three text {
        color: #f9d799;
    }
    .list .list-box .desc .four {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 10px 10px;
        /* width: 95%; */
        /* height: 40px; */
        border-radius: 25px;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #fae2aa 0%, #f5bb63 100%);
    }
    .list .list-box .desc .btns {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
    }
    .list .list-box .desc .btn {
        /* width: 100px; */
        /* height: 30px; */
        border-radius: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;
        font-size: 12px;
        padding: 5px 10px;
    }
    .list .list-box .desc .btn1 {
        background: linear-gradient(0deg, #8d5603 0%, #e0a246 100%);
    }
    /* 底部 */
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer .img {
        width: 65%;
        display: flex;
        justify-content: space-between;
    }
    .footer .img img {
        width: 100%;
        /* height: 95px; */
        margin-bottom: 30px;
        margin-left: 8px;
    }
    .footer .box {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        gap: 21px;
    }
    .footer .box .box-item {
        width: 47%;
        height: 218px;
        background: #402d14;
        color: #f3cd94;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        cursor: pointer;
        box-shadow: 0px -8px 15px 3px #ffb73ab5 inset;
    }
    .footer .box .box-item .text {
        font-size: 14px;
        padding: 10px;
    }
    .footer .box .box-item img {
        margin-left: 60px;
        margin-top: 5px;
    }
    .footer .desc {
        margin-top: 30px;
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 20px;
        color: #fff;
        opacity: 0.5;
    }
}

/** pc */

@media (min-width: 769px) {
    .ball {
        top: 85%;
        left: 90%;
        bottom: 10%;
    }
    /* 顶部 */
    .home {
        width: 100%;
    }
    .home .home-top {
        width: 100%;
        /* height: 600px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: url("https://34.92.164.176/dsjt/img/pcbg111.png") no-repeat center center;
    background-size: cover; */
        /* object-fit: ; */
        /* background-attachment: fixed; */
    }
    .home .home-top .left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
            width: 236.43px;
            height: 223px;
        }
        .center {
            width: 216.88px;
            height: 210px;
        }
        .footer {
            width: 195px;
            height: 205px;
        }
    }
    .home .home-top .center {
        width: 841px;
        height: 473.74px;
    }
    .home .home-top .right {
        display: flex;
        position: relative;
        .big {
            width: 557.39px;
            height: 608px;
        }
        .ball {
            position: relative;
            right: 80px;
            margin-top: 120px;
            width: 198px;
            height: 198px;
        }
    }
    .home .home-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: -93px;
    }
    .home .home-content .title {
        width: 292px;
        height: 76px;
        font-size: 32px;
        color: #644305;
        background: linear-gradient(90deg, #fae2aa 0%, #f5bb63 100%);
        border-radius: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .home-content .box {
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        font-size: 16px;
        /* background: #272727; */
        /* border: 1px solid #FFF0CE; */
        width: 1200px;
    }
    .home .home-content .box .left,
    .box-right {
        height: 197px;
        width: 50%;
    }
    .home .home-content .box .left {
        padding: 10px 13px;
        background: #272727;
        text-align: left;
        color: #fff;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text {
            padding-left: 18px;
        }
    }
    .home .home-content .box .box-right {
        cursor: pointer;
        width: 100%;
        /* width: 692px; */
        /* font-size: 31px;
    background: linear-gradient(0deg, #e9ab4f 0%, #f9ebbb 100%);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    }
    .home .home-content .box .box-right .top {
        color: #553d18;
    }
    .home .home-content .box .box-right .cont {
        color: #ff0000;
    }
    .home .home-content .box .box-right .cont .text {
        color: #553d18;
    }
    .home .home-content .box .box-right .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .home .home-content .box .box-right .footer .btn {
        cursor: pointer;
        width: 121px;
        height: 51px;
        background: linear-gradient(180deg, #fb3d3d 0%, #8c1818 100%);
        border-radius: 25px;
        color: #fff;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .home-content .box .box-right .footer .btn:last-child {
        margin-left: 20px;
    }
    /* 列表 */
    .list {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list .list-box {
        width: 1200px;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        cursor: pointer;
        position: relative;
    }
    .list .list-box .btns {
        position: absolute;
        bottom: 7%;
        left: -2%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 1000;
    }
    .list .list-box .btns img:first-child {
        margin-right: 3%;
    }
    .list .list-box .img {
        width: 716px;
        height: 327px;
    }
    .list .list-box .desc {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #fff;
    }
    .list .list-box .desc .imgP {
        width: 101px;
        height: 101px;
        border-radius: 50%;
    }
    .list .list-box .desc .room-text {
        cursor: pointer;
        height: 48px;
        font-size: 33px;
        display: flex;
        align-items: center;
    }
    .list .list-box .desc .room-text .box {
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        background: #8d5603;
    }
    .list .list-box .desc .three {
        cursor: pointer;
        font-size: 20px;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .list .list-box .desc .three .img {
        width: 23.64px;
        height: 31px;
    }
    .list .list-box .desc .three text {
        color: #f9d799;
    }
    .list .list-box .desc .four {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 10px 10px;
        border-radius: 25px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        background: linear-gradient(90deg, #FAE2AA 0%, #F5BB63 100%);
        color: #222;
    }
    /* 底部 */
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .img {
        width: 1200px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer .img img {
        width: 376px;
    }
    .footer .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .box .box-item {
        width: 286px;
        height: 345px;
        background: #402d14;
        color: #f3cd94;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        border-radius: 16px;
        cursor: pointer;
    }
    .footer .box .box-item img {
        width: 200px;
        height: 200px;
    }
    .footer .box .box-item:hover {
        box-shadow: 0px -8px 15px 3px #ffb73ab5 inset;
    }
    .footer .desc {
        margin-top: 50px;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
        color: #fff;
        opacity: 0.5;
    }
}