.nav-bar[data-v-4b256fd6] {
    height: 2.6rem;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav-bar li[data-v-4b256fd6] {
    position: relative
}

.nav-bar li .tip[data-v-4b256fd6] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: .266667rem;
    height: .266667rem;
    background-color: red;
    border-radius: .266667rem;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.nav-bar li img[data-v-4b256fd6] {
    max-height: 1.44rem
}

.main-list-item[data-v-14e3a617] {
    height: 3.32rem;
    background: url(../../static/img/bg_item_1.b8bea6d9.png) no-repeat top;
    background-size: 100% auto;
    position: relative;
    margin-bottom: .266667rem;
    border-radius: .266667rem
}

.main-list-item .item-bottom[data-v-14e3a617] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.186667rem;
    background: url(../../static/img/bg_item_2.fd6d0bf8.png) no-repeat bottom;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-list-item .item-bottom .last-period[data-v-14e3a617] {
    height: 1.04rem;
    color: #fff;
    font-size: .346667rem;
    padding-left: .32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.gold[data-v-14e3a617] {
    height: 3.32rem;
    background: url(../../static/img/bg_item_3.06fa1fa2.png) no-repeat top;
    background-size: 100% auto;
    position: relative;
    margin-bottom: .266667rem;
    border-radius: .266667rem
}

.gold .item-bottom[data-v-14e3a617] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.186667rem;
    background: url(../../static/img/bg_item_4.95a42fd8.png) no-repeat bottom;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.gold .item-bottom .last-period[data-v-14e3a617] {
    height: 1.04rem;
    color: #fff;
    font-size: .346667rem;
    padding-left: .32rem;
    -ms-flex-align: center
}

.gold .item-bottom .last-period[data-v-14e3a617],
.result-num[data-v-14e3a617] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.result-num[data-v-14e3a617] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1.066667rem;
    padding: 0 .266667rem;
    -ms-flex-align: center;
    overflow: hidden
}

.item-top[data-v-14e3a617],
.result-num[data-v-14e3a617] {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.item-top[data-v-14e3a617] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 .32rem
}

.item-top .item-logo[data-v-14e3a617] {
    width: 1.413333rem;
    height: 1.413333rem;
    margin: .36rem 0 0 0
}

.item-top .item-logo img[data-v-14e3a617] {
    max-width: 100%
}

.item-top .item-game-name[data-v-14e3a617] {
    height: .72rem;
    margin-top: .4rem;
    margin-left: .586667rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.item-top .item-game-name div[data-v-14e3a617] {
    font-size: .373333rem;
    margin-top: .133333rem;
    color: #fff;
    margin-left: .133333rem
}

.item-top .item-game-name img[data-v-14e3a617] {
    height: .72rem
}

.item-top .item-status[data-v-14e3a617] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.item-top .item-status .item-status-period[data-v-14e3a617] {
    font-size: .4rem;
    color: #fff;
    padding-bottom: .213333rem
}

.item-top .item-status .status[data-v-14e3a617] {
    height: .533333rem;
    min-width: 3.066667rem
}

.item-top .item-status .time[data-v-14e3a617] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.item-top .item-status .time .fpz-word[data-v-14e3a617] {
    font-size: .506667rem;
    font-style: normal;
    color: red
}

.item-top .item-status .time .kjz-word[data-v-14e3a617] {
    color: #0087b4
}

.item-top .item-status .time span[data-v-14e3a617] {
    display: inline-block;
    width: .533333rem;
    height: .64rem;
    line-height: .64rem;
    text-align: center;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABgCAMAAAC9tQUyAAAAqFBMVEVHcEzt7/Lt8PPt7vLY2uDt7/LY2+Dq8fHY2+DV3OPt7/LY3N/Y2+Ds7vLW3ePr8PDZ2+Dt7/Ht7/LW2+Ds7/Lf3//s7/Lw8PDt7/Lt7vLj4//f39/q6urX2+DZ3N/X2+Dt7/Lt7/LZ2t/t7vLZ3N/r6+vY2+DV1erY2NjY2+DY2+HY2+Dt7/Lj4+Pt7/Ls7vLY2+DY2+DM5ubY3ODY2+Dt7/LY2+Dt7/J4gIjUAAAANnRSTlMA9FfI0fnqJPokm4mciSUy6M/oMuoI+CPpmAkIDJpYyOv6mZpXDesMDfnJ9dAJ0Yj29AqKm5z93OL8AAABEUlEQVRYw+3ZRZLDQBBE0RSrRWZmpmGq+9/MC5PCno2t3Dii/gFeVEvLBM717Y7TbsqdNdtOx+7jtiCy5OGsKLjiGu+eFMpLG3mvVZHCVXJHlqpCqFo6f766UKofb+y+CKm3LgAgFVopALQmPHASAIiE2C+wsJigtYAt1GzMuOAMDhd0MOaCY3hc0IOQU1BBBRVUUEEFFVTwucE/cgoqqKCCCiqooIIKPje44XobLLngEiMuOMKACw4w54JzrD+Z3m4NJEwwAWBCnhdmABDzwG8AwKvL8tyvwyhlfI7nm9NsViszvHLtMuwZwqtdk58ee3HBfx3Gvat1NPvZPc59JNk/++1qON36dx8a+tvpcHVR9r8dLzfS+g1NAAAAAElFTkSuQmCC) no-repeat;
    background-size: cover;
    color: #424242;
    font-size: .426667rem;
    margin-left: .16rem
}

.item-top .item-status .time span[data-v-14e3a617]:nth-child(3) {
    background: none;
    color: #fff;
    margin-left: .026667rem
}

.item-top .item-status .time span[data-v-14e3a617]:nth-child(4) {
    margin-left: .026667rem
}

.item-top .item-status .opening[data-v-14e3a617] {
    font-size: .56rem;
    line-height: 1;
    color: #fede2c
}

.item-top .item-status .closing[data-v-14e3a617] {
    font-size: .56rem;
    line-height: 1;
    color: #ff3a3a
}

.home[data-v-687ad7d5] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: url(../../static/img/bg.68d9ab3f.jpg) no-repeat;
    background-size: cover;
    font-size: .32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-position: bottom
}

.home #autoplay[data-v-687ad7d5] {
    position: relative;
    height: 3.146667rem;
    margin-bottom: .266667rem;
    border-radius: .266667rem;
    overflow: hidden;
    z-index: 10
}

.home #autoplay .van-swipe .img-box[data-v-687ad7d5] {
    display: block;
    height: 3.146667rem;
    border-radius: .266667rem
}

.home #autoplay .van-swipe[data-v-687ad7d5] .van-swipe__indicators {
    bottom: .133333rem
}

.header[data-v-687ad7d5] {
    height: 1.44rem;
    background: url(../../static/img/nav_bg.c454dbe6.png) no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    position: relative
}

.header .back[data-v-687ad7d5] {
    position: absolute;
    width: 1.04rem;
    height: 1.04rem;
    top: 0;
    left: 0;
    padding: .16rem .373333rem
}

.header .back img[data-v-687ad7d5] {
    max-width: 100%
}

.header .title img[data-v-687ad7d5] {
    height: 1.12rem;
    display: block;
    margin: .16rem auto 0 auto
}

.header .title .logo168[data-v-687ad7d5],
.header .title .logo678[data-v-687ad7d5] {
    height: .8rem;
    margin: .32rem auto 0 auto
}

.main-content[data-v-687ad7d5] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden
}

.notice-bar[data-v-687ad7d5] {
    height: .96rem;
    margin: .4rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArIAAABJCAMAAAD2bTVBAAACKFBMVEVHcEz////w9fX///////////8bXob//////////////////wD///8AQIAaXIb///////////////////82cZUhY4n////e5+wqaI7///+lvtD///////////8cXIcZXYgcXYcua5C3z9slZowcXocbXIYaWIQcXIUcXIUbW4UcXIYaWYwdXocaXIUdX4cbW4YcXIYAAIAdX4gbXIUcXIcbXIYbW4YcXIYaXIYcXIckbZIkSZIbXIYAAP8bXIUfYokcW4UbXIUlZYscXIYbXYdShaMlZYwcXockZIsgYokdXocbW4Zgjqplka0AVaobWoX6+v8ubZEbW4YaW4ceYokaW4UjZYscXof6+vodXYYAgICjvM1RhKIcXYZSh6UhYolVh6YvbZL///8ubpFgjqwmZoyjv80kZYz///////87dZe3y9eApbxShaP///////80b5Npk68fYogva5G4zdkeYYjt7fYbXIcdX4chYokcW4UZVX8eX4cdX4gcXYYfYIgZVYgbW4caXYQaYYQaWYQhYokbW4YbXoYaXIUbXIgaWIcdXoccXoe7z9saWoYubJEaWIIlZo0cXYYcXIcbWoUoaI5ikaskZYwnZ44kZYssao9hkKwvbJBXiaYsao9Xh6ZFepxQg6Eua5BEeZtPgqIhZosgZIofYokhZYsgZYogY4oeYYkeYIgdX4ccXYYbXIYeYYgfY4kdXocfY4odYIgcXoccXIYdX4hB0QZPAAAApXRSTlMAKDMpBBMTMCEBLQESBGEOLw8iBq7zETbQJUcFHQlbHtjDQN/RxB3xm9jwFOab/OXeAvzYtPX82U7FBwfZAUv9sNHa+rJ/37Pg9/qzb20DkDHA8GL7ruqQMPECSIFjf/N7vS7Bb99I5CsqpUBYgCcboUnzvj37HbT26lwe9/bZ9x60TR1N60xMZC8xYq5AY8Ix369kMNpt4NrhwG6/e8F7d4DBeIHicmoBAAAFYklEQVR42u3d1XfbSBTH8XFid2wnTRpuqA2UmZmZmZmZaZmZmZmiXdmyZcuy/72dO1LSbGqn2Rd55pzf97l58fmce65GqsSqWKl2fbp/9/a1sxcuSiMUUIsWzl67fff+93ex0pUgO+rjg/vS6Xw+n0Io0AS6dHrfwXdHsf/R3FVr1qcJq+tmZRZCAeRpc12Cm16/ZtXcEYIdXTOVvLoSaiGXSyIUWLlcQeJ1Se3UmtEjEfvmCuGVBitZtb0SCAWQz43k0sgVale8/lSwL7yWl/M1R1wNhMoSsc3JWZt/5tXhxY6bJiasVRBeE+IPMyLHcUyEAkpwI3UCX0KoLVhi0k4bNwzYZTPzEqycr5mMafYhVIZMU6oVs5bQ5mcuKyV2+kTaCcSElV7pT/9BqAxJtqRWTFraDiZOLy520vyUK3ZYAuv4XP9GqAz5bB2JNme5qfmTiol9Y45YCgaBpT/9C6Ey5LEdQCuWgznji9zuWtwv1vTA4odD5WVLaM1+s4ufuBm2fKknlkYswCJ10IpBK80uXT6E7BRfrAmwSC20pm92ypDzWF+sHLH4qZAyaGnQ+mafHyx2/GS3XyxGLFJs0Ppm3cmDL8EWQCxS3+yCx2KXpLI5b4+FWKSiWdpnc9nUkoGnDbvEImsYDsQiVc06hiHW2Zf7n0WsSXlrAa68kLLXYHI1SNV4Yld2ZQtJby3Ar4PUNEurQbKQ7Vopyb4tr70ciEUqm3XkFdg7kuyGbME/LcBPg5QlS6tBIbtBPlywDUMW6TJmt9GjBifpuABDFmkwZpNW9gtB9kN5JguxSHWz8mz2c8aOHbWSCQPHBUj9QwMjkbSOHmPvuXIvgFikwZhNWu6X7APsBUinzeAkO0znBdgLkBabgZ20DrPNFu58IU3I0mawmU3AKot0WmYnsBkWVlmkzzJrzWDPFkAW6UO28BKbhQMDpNORwSw2L4cHDJAmZB1Bdh57EWSRTmRfYc+BLNKJ7FtsHcginciuY9/j8gvpdPn1M7uDQy6kEdnCHfYrbiUgjchaf7C7uGGL9CGbtO6yR/fwWAzSQyw9FnPvEau+j4cPkSZkDTt5P8I6f8ORAdLnwODPTsYePMQyi3RZZR8+YIxFf8R/V0R67AWJ5O9RQTbyNTYDpMte8ENEkA0f2YRXbyD1xdJesOlImN5wFN2IFxwh9cnSC442RuVr5GortuA1ckiDIWtvqaj1XjAb2oExi3QYsjtC/lu8q/knuAOG1N9ku3m1TzZWefw0XjyPFBYrjwtOH6+M9X/fo46fwec9kLJi/c97nOF1j7+iVM8b8RElpK5Y+ohSI68f9Km6hnjLWHyqDqkqltaCsS3xhsFfBG3m1y/CLFJX7MXrvPm/313u4G2X8dllpOKVF4m93MY7hnzcPtbK23rxcXuk2oj19tjeNt4aG0KWhUO8h/ZZpw9okTpg+xzaY3t4KMyeqP0qb2m0DRq0QIsUAStGrGE3tvCr7axI7ZWc/9JkyEEr0YItKhdXDyyNWKPpJ84ri4oVu0Er55e67QG0HluEgo7s+WDt7kuct4ZZiWIdnPML3xBaWg88tggFHdkzMwT2uwuCZEeMla45znnFqV6BltRKtggFnSm9GvZnpyo4jzezYWuoF6r37Nx7ICHVZjKO45gIBZTgRuoEvsSBvTv3CIz1Dexp1YmrMM57TpxtolmLUBmym86e+IgcVtaxERSrDtE/5hU3bl47/9WhrattO4FQANn26q2Hvj1/7eaNCkkwVB1jI6w2OoYjVNbGRGuL2awqhTYcicbxq6FyFY9GShxsVQ03azsjt6O3rpzDwEXBjdZzV25Fb0c6S6us+hf2UwkZzxkMBgAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.notice-bar .notice-bar-icon[data-v-687ad7d5] {
    display: inline-block;
    width: .653333rem;
    height: .546667rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGIAAABSCAMAAACYAfGRAAACE1BMVEVHcEwCI0EAIkEAIkEAIkIAIkIEJUIBK00AIT8AI0MBI0EBI0EDI0IAIkICI0IAIUEAI0EAIkMAIkIBI0IAI0ECI0ICIkICI0IDI0IAIkLiyZboyXABI0L/34sWMkYBJEIAIkIAI0IAIkEAI0L/6asAJEKzsZici0yynVSyrIi0p3KyomWyljuzqXvu37BQVj0RLkOymUa2pWj57cmbhzkCJEO2olv/7Lbt4LdlYz2slUUfN0X77cPz1Xv+78L+y0f678r86LLbsTjluT/f0qZ0bT3ft0crPkD8y0v/9ND+8MP76rn98Mj068v46Lf+xzj+8s706cXluEH96a/WqzCvkjN4gXrFwaGlpZDCoDcTL0L+8cv+8cv9yT396K3/4Iv/4Iv3wjf8y0r66br/34jZ07gvQT/wwUH83ITxvC2vnUvDwao6UF1ebW/rvkeojjY9SjyMf0LquDH+3INsa0bLpC+CiHmvr5jyxk/o16SPfz7Js2ri1J/vz3Z9fF1vbEThvFPOv4u7sIH/6az7zE73yUz+zU3uvz63qm7k3L3UzrNdZVR5eV29ok5xdFgeNUP/56T/3oX/23j/4In/0FL/78D/1GD/5Z3/4pL/45j/67D/1mj/2G3/2XP/0Vj/zkr/8cf/yTv/6ar/3ID/3H3/yDb/7Lb/7br/zEX/y0D/0lz/1GT/4I7/9ND/xS3/8sz/xjFkX78ZAAAAkHRSTlMApn0tOiYTBRkMtsCONJ5FTh9eu2uHlsRLZQj6rn/RynZxVD/rIq/qr6+xr6+xKdjKr7RE6Fm1uRPb7c9iHeq8p3j3+fff8phN9MGFllI76uVwLPTz7d/u6e2x1c/TXU6Fi6P4wojOdJ/8FqHR2Yap1eWu8tvav4H8cG7tkeWZi++frt9BXuX7PLHcuj/xwG70kiyZAAAFjUlEQVRYw82Zh1fbRhyAbVnT1rAkPGsajzolKTG0QFkh7E1IyIBAs0eTJs1eTdKM7r2hgy6atqTLpH9iT8PSWViydCbv9ePhh+936NNPdyfd6Xw+z+w8WCwWx1vsouMg2uKrhY6+osruZMXwjFPQHS27izo7qQph3V+coVAFyamiwSlm3WE6JkrBPgbR0fLSY5NTtPUoBTP8AY2k6Jh6DHNOZCwnMG4GbxIMgmH7jpUyzgXIsjPdDsU+bLME3dDTt2JhM1d2MSah0BwrcZ6vlDUFqyLZDkUOpLwrpieU/1wq+1nZjJtHKRw0K6zMyjyW9XahOqaWKgEpWnaYxSfOy342kRMZT9doqYpiBiodehUY6gTCQxLT7UtLVRT9UOFcc1AxBGj3SUw+sqWkKEBlB2JBPpIQCNr14C5MPKqqoG6ZRbOhVBSTcgTp2tB/YtUBTUExrxsl5+VUNN2G5123Q6F9dbW6gqFv6t/Vhs6EOdF1Cof3LjujK4i4VnGuW2noeMB9M0wuV2OLoqDIQPaG8k1vaCdD0qSnMN3fvuxa0Ra5MTQ0Gwryjg19uP2tZ0z2PnSFkQXml2OgobE23H7A9T9EYYvWFnkhw/pToKGznGhrKHyOhKagaC6bjrBYIs7ZNwN1qyYFI3JhScrmHEY0GDu1KBRHgOMCosOIZug3vkFCVwAHSdOOtwyGqFHho1QcxhgZePM7JLbhbp+dNPfkFfi2b5H4vyn+QcKLYutXSGwtVxypP1pfztH6Ixup6DhZsc7JpK74AokyxRmbSmc2SkGdvWpT6aoy6mn8hV+RgBXv29YiNcVvSDxnKCjyY9taBEgDKL5EAlLQ3F2bSneVGfoGKBhRuGdT6Z4yfwaKH5GAFEQc++jOU+u582layG+MIi+kebn5aSvNMp8WtCx+QAK+UHiC9cshK8pCA1fb4sVaFWCmE86wvN8KD+afymoJKL5HAlIwNBdPZDArmURYnZYgKxqgocfQBC7E42GdOPgT/Aq4Nv8Eir+RgBTqFEEkrIj6rAEovkaioexmTlHMevRJwwYpnB9JDX8h4UVx/yckvCg+e/DEFYnRB4sIeFBwErtw7fKzJl2fjLzmTTE25qggiTDGy7FNZXQPV5c8X1IkexcXe3scFIyYS0T4VNBElkOxWPfIz1UwFMeVb+++ba8A9zAhgbFRE573p4Kh5i7tSIt2H7qC2qMr37FXMHQgl5USdQaZNBaJ+oOxa4NusqBOlwouODnAOgc3yOWEsJQB1w4k8ocDmoIiLxglx217GKWuc0xEkeAEKQ0eMrHOwWoKhr5tFvU6vGSmYMD9i85z4boIHwx1d/1ph64gwiNm2aE9rl9DKQ0kSFhUTcRG0Vha2o9Cjl1jHhwkgWf1RH6pSKPxgmJhHio+7UNJpGnAQaGO3Fao/JgnRymRTa12CnXksqnQMBToTXpOhAVjpGngdyuNeqcNxDNsSm56z4wc6kFIJAUSsVGA0wAzHL/8MnQSu9x3rFIiaTWRwUoKtUa8LgIqzEOOs54cJKGOETDYW/+FaTReUNCEAO6kwdh+M3jM0xtzOJEBSHHReEEBziIH+l4qdNkIXmE8Osi8kciawUVoqkbm8Ww6mpI7S8ErXvcW4ET2lY5yv2yqJnJqoze9ogVvE4xnh5FITE/kegJ+dmuNrnQs9RSuZxF2YaBELu0Hpzo/Wr4Losa1Rl9b2zeKsAsDJyLHLg13+iNtXNmJah0LA/eCzuEFFkkBJyKHgnw6bt30ovSOFQzyWJggkXbdtETAg57385iEr9tooUgRz4K1TDSSwEWUTbfS1chl6zAsLVXaaFE6FljLZCQBMQk9ETGQAwsUnKi00aKtZYTKQU8SZXlS+Z2mMg3IEyLJUD5fTRJ1eeIUpWozeOY/TtoATXJv3ScAAAAASUVORK5CYII=) no-repeat;
    background-size: 100% auto;
    margin-left: .373333rem
}

.notice-bar[data-v-687ad7d5] .van-notice-bar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: transparent;
    color: #fff
}

.pull-text[data-v-687ad7d5] .van-pull-refresh__head {
    color: #f1f1f1
}

.main-list[data-v-687ad7d5] {
    margin: 0 .373333rem 0 .373333rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto
}

.loading-icon[data-v-687ad7d5] {
    width: 1.013333rem;
    height: 1.013333rem;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: -1.28rem;
    left: 50%;
    margin-left: -.533333rem;
    z-index: 9999999
}

.skelecton-item[data-v-687ad7d5] {
    margin-bottom: .266667rem
}