.layout[data-v-72e4b508] {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
    overflow: hidden
}

.layout .layout-page[data-v-72e4b508] {
    height: 100%;
    width: 100%
}

.layout .tip[data-v-72e4b508] {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4)
}

.layout .tip span[data-v-72e4b508] {
    margin-top: .266667rem;
    font-size: .373333rem;
    color: #fff
}